.mobileNav {
    display: none;
}
.logos{
     display: flex;
     margin-left: auto;
     
}

.logos img {
    margin: 0 10px;
}


@media screen and (max-width:1250px) {
    .mobileNav {
        display: flex;
    }
}

@media screen and (max-width:900px) {
    .mobileNav > img {
        width: 170px;
    }
    .logos > img {
        width: 30px;
        margin: 0 5px;
    }
    .logos {
        margin-left: 15px;
    }
}
